.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.arrow_sort {
  margin: 5px;
  width: 10px;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}
.arrow_sort.rotate {
  transform: rotate(180deg);
}
.paginationBtns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.paginationBtns a {
  background: #ebf3f9;
  padding: 3px;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid #e3eef7;
  color: black;
  cursor: pointer;
}
.paginationBtns a:hover {
  color: black;
  background-color: #e3eef7;
}
.paginationActive a {
  border: 1px solid grey;
  font-weight: 800;
  color: black;
  background-color: #e3eef7;
}
.paginationDisabled {
  cursor: default;
  pointer-events: none;
}
.paginationDisabled a {
  color: lightgray;
}
.table_block {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    font-weight: 500;

  }

  &__select {
    background: #ebf3f9;
    padding: 5px;
    width: 120px;
    align-self: flex-end;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 1px solid #e3eef7;
    cursor: pointer;
  }
}

.table_block__main {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;

  th {
    border-top: 1px solid #777777;	
    border-bottom: 1px solid #777777; 
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
  }
  
  tr:nth-child(odd) {
    background: #ebf3f9;
  }
  th:first-child {
    border-left: 1px solid #777777;	
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
  }
  th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
  }
  td {
    border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
  }
  
  tr:hover td {
    text-decoration: underline;
    cursor: pointer;
  }
}

.user_block {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 11px 5px rgb(0 0 0 / 80%);
  margin: 10px auto;
  padding: 20px;

  &__items {
    display: flex;
    margin-top: 10px;

    &__items-info {
      align-self: flex-end;
      padding-left: 5px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: brown;
  }
}
.nav_bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nav_btn {
  width: 60px;
  height: 20px;
  margin-left: 15px;
  font-weight: 200;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
  color: black;
}
.search_bar {
  position: relative;
  height: 24px;
}
.input-search {
  width: 300px;
  height: 36px;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 30px;
  font-size: 18px;
}
.input-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 40;
  top: 12px;
  left: 10px;
}

.search_wrapper {
  margin-top: 20px;
}
.search_form {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


