.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.arrow_sort {
  margin: 2px;
  width: 10px;
  align-items: center;
  text-align: center;
}
.arrow_sort.rotate {
  transform: rotate(180deg);
}
.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}
.paginationBtns a:hover {
  color: white;
  background-color: #2b2eff;
}
.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
.paginationDisabled {
  cursor: default;
  pointer-events: none;
}
.nav_bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nav_btn {
  width: 60px;
  height: 20px;
  font-weight: 200;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
  color: black;
}
.search_bar {
  margin-bottom: 20px;
  position: relative;
}
.input-search {
  width: 50%;
  height: 40px;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 30px;
}
.input-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 40;
  top: 14px;
  left: 10px;
}
.active_link {
  // background-color: grey;
  font-weight: 900;
  font-size: 16px;
  
}
.search_wrapper {
  margin-top: 20px;
}
.search_form {
  margin-bottom: 20px;
}
.sort_block {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label {
  display: flex;
  gap: 10px;
}